<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419538921648-e039ve4ub5gmfpga6kcrat75rud6ihhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419538921648-e039ve4ub5gmfpga6kcrat75rud6ihhg</string>
	<key>API_KEY</key>
	<string>AIzaSyDR79xOM1lxrQatoXWB2X3MBcQspz9c8dQ</string>
	<key>GCM_SENDER_ID</key>
	<string>419538921648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shoppinglist</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-7834f</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-7834f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419538921648:ios:d47d87ae6cbeae6753b375</string>
</dict>
</plist>